
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
